<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Iago.carneiro - Basic Fragment Distortion</title>
</head>

<body>
   <main>
      <header>
         <header class="header">
            <a href="#" class="logo">
               Visual Abstract Digital Graphics</a>

            <input type="checkbox" id="check" />
            <label for="check" class="icons">
               <i class="bx bx-menu" id="menu-icon"></i>
               <i class="bx bx-x" id="close-icon"></i>
            </label>

            <nav class="navbar">
               <a href="#" class="nav-item" style="--i: 0">Home</a>
               <a href="#" class="nav-item" style="--i: 1">WebGL</a>
               <!-- <a href="#" class="nav-item" style="--i: 2">Programming</a> -->
               <!-- <a href="#" class="nav-item" style="--i: 3">Game Development</a> -->
               <a href="#" class="nav-item" style="--i: 4">Contact</a>
            </nav>
         </header>
      </header>
      <div id="webgl">
         <div class="cortina"></div>
      </div>

      <div id="anime-container">
         <article class="p-anim-1" id="a">
            <h1>A</h1>
         </article>
         <article class="p-anim-2" id="b">
            <h1>B</h1>
         </article>
         <article class="p-anim-3" id="c">
            <h1>X</h1>
         </article>
         <article class="p-anim-4" id="d">
            <h1>Y</h1>
         </article>
      </div>
   </main>
   <aside id="loading">
      <h1>Loading...</h1>
   </aside>
</body>

</html>