* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.cortina {
  width: 100%;
  position: fixed;
  height: 50%;
  background-color: white;
  z-index: 100;
  mix-blend-mode: difference; // blend mode set to difference equals to magic!
}

body {
  cursor: url('../../public/ellipse.png'), pointer;

  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #f1f1f1;
  overscroll-behavior: none;
}

#webgl {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}
